    <h2 mat-dialog-title class="col-10">{{currentVideo?.Title}}</h2>
    

<mat-dialog-content >
  
    
    <div class="video-player-wrapper">

        <vg-player >
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
      
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
      
          <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
      
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
      
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
      
            <vg-fullscreen></vg-fullscreen>
          </vg-controls>
      
          <video #media [vgMedia]="$any(media)" [src]="currentVideo.Url" id="singleVideo" preload="auto" crossorigin>
          </video>
        </vg-player>
      
      </div>
      
</mat-dialog-content>
<button mat-button (click)="close()" style="float: right; margin-top: 20;">
    close
</button>