<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">
  
    <div class="row">
        <mat-form-field>
            <input matInput
                    formControlName="videoName"
                    placeholder="Please input video name">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field>
            <ngx-mat-file-input placeholder="Please select a file" (change)="onChange($event)"></ngx-mat-file-input>
        </mat-form-field>
    </div>
    
    

</mat-dialog-content>

<mat-dialog-actions>
    <div class="row">
        <button class="mat-raised-button col-6"(click)="close()">Close</button>
        <button class="mat-raised-button mat-primary col-6"(click)="upload()">Upload</button>    
    </div>
    
</mat-dialog-actions>